
body{
    background-image: url(../img/lluvia.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.titulo{
    text-align: center;
    font-size: 2rem;
    background: -webkit-linear-gradient(left top, rgb(0, 255, 234), rgb(162, 0, 255));
    background: linear-gradient(to bottom right, rgb(0, 255, 234), rgb(105, 11, 143));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 25px aqua;
}

.imagen{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 7rem 0 4rem 0;
}
.imagen img{
    width: 40rem;
}
.cuadro{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.iniciarSesion{
    color: lime;
}
.contenido-cuadro{
    padding: 2rem;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}


.a{
    margin-top: 1.5rem !important;
    text-decoration: none !important;
    color: white !important;
    background-color: red !important;
    padding: 1rem 2rem !important;
    border-radius: 1rem !important;
    font-size: 1rem !important;
    margin-left: 4rem;
}
.a:hover{
    box-shadow: 0 0 25px orangered !important;
    padding: 0.5rem 3rem !important;
    transition: .5s ease !important;
    font-size: 1.3rem !important;
    margin-left: 2rem;
}

#input input{
    padding: 0.3rem 0.2rem;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 2rem;
    background: rgb(214, 210, 210);
}
input:hover{
    box-shadow: 0 0 50px rgb(133, 0, 173) !important;
}
